.master-button {
  padding: 0.25rem 0.7rem !important;
  font-size: 0.9rem !important;
}

.meeting {
  margin-left: 2em;
  margin-right: 2em;
  .names{
    padding-bottom: 2em;
  }
  .data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .details {
      width: 65%;
      padding-right: 1em;
      p {
        margin: 0px;
      }
    }
    .members {
      width: 35%;
      padding-left: 1em;
      a{
        padding-left: 1em;
      }
      .attendess-email {
        padding-left: 1em;
      }
      .organiser{
        padding-bottom: 3em;
      }
    }
  }
}
