.card {
  width: 50%;
  margin: 5px;
  .card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .btn {
      display: inline;
    }
  }
}
mdb-icon {
  align-self: right;
  cursor: pointer;
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .projectName h3 {
    font-weight: bold;
  }

  .card-subtitle {
    font-weight: bold;
    p {
      margin-left: 2rem;
      font-weight: normal;
    }
  }

  .card-text {
    font-weight: bold;
    p {
      margin-left: 2rem;
      font-weight: normal;
    }

  }
}
.details {
  position: sticky;
  top: 60px;
  height: min-content;
}

